@import url('components/header.css');
@import url('components/card.css');
@import url('components/button.css');
@import url('components/date-picker.css');
@import url('components/destination.css');
@import url('components/footer.css');
@import url('components/listing.css');
@import url('components/produit.css');
@import url('components/confirmation.css');
@import url('components/paiement.css');
@import url('components/footer.css');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.title{
    position: absolute;
    top: 48vh;
    padding-left: 250px;
    font-family: 'Poppins', sans-serif;
    color: #fefefe;
    width: 300px;
}
.title-black{
    color: #1c1c1e;
    font-family: 'Poppins', sans-serif;
}