.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    flex-wrap:wrap-reverse;
    background-image: url('https://res.cloudinary.com/dsd5xgbdi/image/upload/c_scale,w_2076/v1571041817/robert-katzki-jiCmX3fUjZk-unsplash_shbtmw.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.page-destination h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
