.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul, .picto ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu ul li, .picto ul li{
    padding: 10px 25px;
    font-family: 'Open Sans', sans-serif;
}
.header{
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dsd5xgbdi/image/upload/v1571040439/pinguin2_m8b7ml.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu, .header-destination .header-menu{
    background-color: rgba(255,255,255, 0.5);
}
.picto ul li i{
    text-align: center;
}
.header-menu li a{
    color: #1c1c1e;
    text-decoration: none;
}

.header-produit{
    box-shadow:  0 -17px 60px;
}
.logo-img{
    height: 45px;
    width:45px;
}